.spot-info {
    padding: 20px;
}


.manage-inner {
    display: flex;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
}



.buttons {
    display: flex;
    float: right;
}

.button-edit {
    width: 100px;
}

.delete-modal {
    color: white;
    background-color: red;
    margin-left: 10px;
    width: 100px;
    border: 0px white;
    border-radius: 5px;
}

.manage-spot-create-btn {
    color: white;
    background-color: red;
    width: 100px;
    height: 25px;
    border: 0px white;
    border-radius: 5px;
}
