.post-review-modal {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 310px;

    /* margin: auto; */
}

.modal-text {
    resize: none;
    width: 275px;
    height: 100px;
}

.star {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 80px;
}
.stars {
    display: none;
    margin: 30px;
    /* width: 10px */
}


.submit-review-btn {
    width: 200px;
    height: 35px;
    margin-left: 35px;
    border-radius: 5px;
    border: 0px white;
}

.stars-text {
    margin-left: 3px;
}
