.form {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    /* border: 1px solid red */
}

.form-inner {
    width: 33%;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.city-state {
    display: flex;
    justify-content: space-between;
}

.city-state .form-row {
    width: 100%;
}

.error-msg {
    color: red;
}

.submit-button {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}
