.profile-btn {
    position: relative;
}


.profile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
    /* padding-right: 24px; */
    /* min-width: fit-content; */
    width: 120px;
    height: 120px;
    z-index: 1;
    justify-content: space-evenly;
}
