#modal-content {
    border-radius: 5%;
}
.log-in-modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 325px;
    justify-content: center;
    /* margin: auto; */
}

.username-email {
    display: flex;
}

.log-in-field {
    display: flex;
    width: 200px;
}

.password {
    display: flex;
}

.btns {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.log-in-btn {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
